$background: black;

html, body {
	font: 2em sans-serif;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	color: white;
	background-color: $background;
	text-align: center;
	touch-action: none;
	overflow: hidden;
}

p#m {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	padding: 0;
	margin: 0;
	line-height: 100vh;
	pointer-events: none;
	user-select: none;
}

.t {
	position: absolute;
	pointer-events: none;
}

@keyframes pulse {
	from { transform: scale(1); }
	50% { transform: scale(0.8); }
	to { transform: scale(1); }
}

.t::before, .t::after {
	display: block;
	position: absolute;
	content: ' ';
	border-radius: 100%;
	animation: pulse 0.8s infinite;
}
	
.t::before {
	width: 2em;
	height: 2em;
	left: -1em;
	top: -1em;
	
	background-color: var(--c);
}

.t::after {
	width: 1.4em;
	height: 1.4em;
	border: 0.2em solid $background;
	left: -0.9em;
	top: -0.9em;
}

// Winner
.t.w::before {
	animation: win 1s forwards;
}

@keyframes win { to { transform: scale(20); } }

// Deleted
.t.d::before, .t.d::after {
	animation: out 0.4s forwards;
}

@keyframes out { to { transform: scale(0); } }
