#options {
	font-size: 0.6em;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;
	flex-direction: column;

	background-color: hsla(0, 0%, 0%, 0.6);
	transition: 0.2s;

	&:not(.active) {
		visibility: hidden;
		background: none;

		form {
			transform: translateY(-120%);
		}
		footer {
			transform: translateY(140%);
		}
	}

	.spacer {
		flex-grow: 1;
	}

	form {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		margin: 0.4em;
		padding: 0.2em;
		background: white;
		color: black;
		border-radius: 0.2em;

		transition: 0.2s;

		input, button {
			font-size: inherit;
		}

		input[type="radio"] {
			font-size: 0.4em;
		}

		> * {
			display: flex;
			flex-direction: row;
			text-align: left;
		}

		> .space {
			height: 0.8em;
		}

		> label > input {
			display: inline;
			margin: 0 0.2em;
			min-width: 1em;
		}

		> button {
			display: inline-block;
			color: white;
			text-align: center;
			background-color: hsl(120, 50%, 60%);
			margin: 0.8em 0 0;
			border-radius: 0.2em;
		}
	}

	footer {
		font-size: 0.4em;
		padding: 2em;

		transition: 0.2s;
	}
}

a {
	color: unset;
}
