style @import "./options.scss"

#options
	form
		label
			input type="radio" name="d" value="n"
			| Select fingers
		label
			input type="radio" name="d" value="g"
			| Group fingers
		.space
		label
			span.numlabel
			. :
			input name="n" type="number" required=true onclick="this.select()"
		button#c Done

	.spacer

	footer
		a href="https://gitlab.com/kevincox/playerone/-/blob/master/README.md" Report problems, ask questions and contribute on GitLab
